<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.atuhi.externalkeyboard"
    version="1.0.0">
    <name>External Keyboard</name>
    <description>External Keyboard Plugin</description>
    <license>Apache 2.0</license>
    <keywords>bluetooth,hardware,keyboard</keywords>
    <repo>https://github.com/petrsimon/cordova.externalkeyboard.git</repo>
    <issue>https://github.com/petrsimon/cordova.externalkeyboard/issues</issue>

  <js-module src="www/keyboard.js" name="keyboard">
    <clobbers target="cordova.plugins.ExternalKeyboard" />
  </js-module>

    <!-- ios -->
    <platform name="ios">
        <hook type="after_plugin_install" src="scripts/iosAfterInstall.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="ExternalKeyboard">
                <param name="ios-package" value="ExternalKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ExternalKeyboard.h" />
        <source-file src="src/ios/ExternalKeyboard.m" />
    </platform>

</plugin>
